<h1 class="uk-heading-line uk-text-center uk-text-danger uk-text-bolder"><span>Почему этот курс, а не другие?</span></h1>
<h3 class="uk-heading-line uk-text-center uk-text-danger uk-text-bolder"><span>Выбрав этот курс, вы:</span></h3>


<span uk-icon="icon: check; ratio: 3.5"></span>Освоите базу программирования за 2 месяца и сэкономите годы на зубрёжке бесполезной теории;<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Убережёте себя от потери десятков тысяч рублей и как минимум 2 лет жизни на неактуальные курсы, которые никогда не приблизят вас к богатству и независимости;<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Освободите 5 часов в неделю на свои нужды и на занятия спортом, поскольку мой материал подан без воды и там всё максимально просто и сжато;<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Приобретёте ценность в глазах мужа, детей и семьи, потому что они перестанут в вас видеть просто жену и мать, а начнут ценить ваш интеллект и потенциал;<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Станете примером для друзей, которым так никогда и не хватит смелости поменять профессию<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Зауважаете себя, потому что будете знать, что вы выбрали путь, который принесет вам уверенность в будущем<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Начнёте принадлежать к престижному клубу людей, которые создают завтрашний день уже сегодня, выпуская те или иные приложения!<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Узнаете все самые современные лайфхаки программирования от работающего разработчика, которая всегда совершенствует свои технические навыки, а не просто сидит дома и записывает курсы;<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Сэкономите десятки часов на прочтение форумов о том, как перейти в программирование и найти работу, ведь я вам всё обьясню за 40 минут во время нашего заключительного вебинара!<br>
<span uk-icon="icon: check; ratio: 3.5"></span>Убережете себя от ошибок выбора неактуального языка программирования в будущем: в одном из вебинаров я вам за 40 минут раскрою секреты тех направлений, в которые следуют углубляться в ближайшее время.

<div class="uk-card uk-card-hover uk-card-body uk-text-center">
  <button class="uk-card-title uk-text-alert uk-text-bolder uk-button-danger" routerLink="/structure">Структура курса</button>
  
</div>
<div class="uk-card uk-card-hover uk-card-body uk-text-center">
<button class="uk-card-title uk-text-alert uk-text-bolder uk-button-danger" routerLink="/aboutme">Обо мне </button>
</div>